################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Shushu/v15
/Shushu/bin/Debug/netstandard2.0
/Shushu/obj
/Shushu.Tests/obj
/Shushu.Tests/bin/Debug/netcoreapp2.0
/.vs/config
Shushu.userprefs
/.vs/Shushu/DesignTimeBuild/.dtbcache
